name : Postman_collection_workflow
on: 
  push:
    branches: [main]
  workflow_dispatch: 
  schedule: 
   # - cron : 30 2 * * * #8:00 AM IST Everyday
   # - cron : 30 13 * * * #7:00 PM IST Everyday
    - cron : 0 06 * * 0 #11:30 AM IST Sunday




jobs:
  run-postman-test:
    runs-on: ubuntu-latest

    steps:
    - name: checkout the code
      uses: actions/checkout@v6-beta

    - name: Setup Node.js
      uses: actions/setup-node@v6.0.0
      with:
        version: '22'

    - name: Install Newman and newman htmlextra reporter
      run: |
           npm install -g newman
           npm install -g newman-reporter-htmlextra

    - name: Run collection
      run: |
           newman run 'Inwarranty-flow Collection.postman_collection.json' \
           -e 'QA.postman_environment .json' \
           -d 'testData.csv' \
           -r cli,htmlextra \
           --reporter-htmlextra-export ./newman/index.html


    - name: Upload Report
      if : always()
      uses: actions/upload-artifact@v5.0.0
      with: 
        name: Newman Report
        path: newman/*.html

    - name: Creating Github Page Branch
      if : always()
      uses: peaceiris/actions-gh-pages@v4.0.0
      with: 
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: newman/


    - name: Sending Email notifications
      if : always()
      uses: dawidd6/action-send-mail@v6
      with:
        server_address: smtp.gmail.com
        server_port: 465
        username: ${{ secrets.EMAIL_USERNAME}}
        password: ${{ secrets.EMAIL_PASSWORD}}
        subject: Postman_Inwarranty_Flow Test Exexution Report
        to: muskan7razdan@gmail.com
        from: Email From Muskan Github <${{ secrets.EMAIL_USERNAME}}
        body: |
          Hi,
            To view the Postman Inwarranty Flow click below: 
            https://muskanrazdan.github.io/Postman_Inwarranty_Flow/
            
          Thanks,
          Github Actions
        attachments: newmman/index.html
       
            
      
  
   
        


      


        

      
        

    
    
    

